<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

<!--    <link href="static/css/main.css" rel="stylesheet"> -->

    <title> Demo - best buy autocomplete </title>
</head>

    <body>
        <div id="search">
            {% include "search.html" %}
        </div>
        <div id="result">
            {% include "list.html" %}
        </div>
    </body>
</html>
